* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    padding: 30px 30px 0 30px;
}

.home {
    background: linear-gradient(180deg, #064789, #ebf2fa);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
}

.home .text {
    text-align: center;
    margin-top: 50px;
}

.home .text h1 {
    font-size: 35px;
    color: #fff;
    margin-bottom: 30px;
}

.home .text p {
    font-size: 20px;
    color: #fff;
}

.home .image img {
    height: 400px;
    display: block;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    box-shadow: 0 0px 25px #023e7d;
    border: 1px solid #064789;
}

.date {
    padding: 100px 0;
    background: linear-gradient(0deg, #064789, #ebf2fa);
}

.date .text {
    display: flex;
    flex-direction: column;
}

.date .text .line-top, 
.date .text .line-bottom {
    width: 100%;
    height: 2px;
    background-color: #023e7d;
    box-shadow: 0 0 10px #023e7d;
}

.date .text {
    text-align: center;
}

.date .text p {
    font-size: 25px;
    margin-top: 30px;
    color: #fff;
}

.date .text h1 {
    font-size: 40px;
    margin: 15px 0 30px 0;
    color: #023e7d;
}

.wedding {
    padding-top: 50px;
    text-align: center;
    background-color: #bfd7ea;
}

.wedding .text {
    margin-bottom: 30px;
}

.wedding .text h1 {
    color: #ffffff;
    font-size: 40px;
}

.wedding .image img {
    height: 250px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.wedding .image .arrow {
    margin: 0 0 30px 0;
}

.achievements .main-text {
    margin: 40px 0;
}

.achievements .main-text h1 {
    color: #000;
}

.achievements .box-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.achievements .box-container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bfd7ea;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
    text-align: center;
}

.achievements .box-container .box .text {
    padding: 40px 10px;
}

.achievements .box-container .box .text h2 {
    color: #000;
    font-size: 25px;
    margin-bottom: 20px;
}

.achievements .box-container .box .text p {
    font-size: 22px;
}

.achievements .box-container .box .image {
    width: 100%;
}

.achievements .box-container .box .image img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    display: block;
}

.congratulations .main-text {
    text-align: center;
    margin: 60px 0;
}

.congratulations .main-text h1 {
    font-size: 30px;
}

.congratulations .text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.congratulations .text h3 {
    font-size: 25px;
}

.congratulations .wishes {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    margin: 50px 0;
}

.congratulations .wishes .box {
    border: 1px solid #023e7d;
    box-shadow: 0 0 10px #023e7d;
    padding: 20px;
    border-radius: 20px;
}

.congratulations .wishes .box h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

.congratulations .wishes .box p {
    font-size: 25px;
    margin-bottom: 40px;
}

.congratulations .wishes .box p:last-child {
    margin-bottom: 0;
}

.footer {
    background-color: #3a6ea5;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.footer .text {
    padding: 20px 0 50px 0;
}

.footer .text h1 {
    font-size: 20px;
    color: #fff;
}
